:after,
:before {
  box-sizing: border-box;
}

.html {
  position: relative;
}

.body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  /* background-image: url("https://i.pinimg.com/originals/ac/f7/25/acf7258b8794be7d6909f89a2efadd54.jpg"); */
}

.container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 380px;
  height: 585px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  /* background-image: url("https://i.pinimg.com/originals/ac/f7/25/acf7258b8794be7d6909f89a2efadd54.jpg"); */
}

.main-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  width: inherit;
  height: inherit;
  background-image: url("https://i.pinimg.com/originals/ac/f7/25/acf7258b8794be7d6909f89a2efadd54.jpg");
  background-size: cover;
}

.buttons__signout {
  position: absolute;
  margin: auto;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 7px 0;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  display: block;
  outline: none;
  text-align: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background: #4f73d9;
  box-shadow: 0 15px 30px rgba(79, 115, 217, 0.36);
  -webkit-transition: bottom 2s;
  -moz-transition: bottom 2s;
  -o-transition: bottom 2s;
  transition: bottom 2s;
  cursor: pointer;
}

.userimg {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
