.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 380px;
  height: 585px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  /* background-image: url("https://i.pinimg.com/originals/ac/f7/25/acf7258b8794be7d6909f89a2efadd54.jpg"); */
}
.overlay1 {
  z-index: -1;
}

.img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.image-container {
  margin-right: 10px; /* Adjust the desired spacing */
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-container {
  text-align: center;
  display: flex;
  gap: 10px;
}

.favorites-container {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
}

.favorites-heading {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: underline;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-item {
  margin: 10px;
}

.favorite-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #e2f0f3; /* Choose your preferred background color */
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.favorite-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.favorite-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.map-marker {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.map-marker:hover {
  color: #007bff; /* Choose your preferred hover color */
}
