.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 380px;
  height: 585px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  /* background-image: url("https://i.pinimg.com/originals/ac/f7/25/acf7258b8794be7d6909f89a2efadd54.jpg"); */
}
.overlay1 {
  z-index: -1;
}

.search-bar input {
  border: none;
  border-bottom: 2px solid blue; /* Change the color here */
  padding: 5px;
  width: 200px;
  font-size: 16px;
  z-index: 2; /* Ensure the input is at a higher stacking order */
}
.search-bar::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red; /* Change the color here */
  z-index: -1; /* Lower the stacking order of the line */
}
.img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.image-container {
  margin-right: 10px; /* Adjust the desired spacing */
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  color: red;
}
.map:hover {
  color: blue;
}
.friends-container {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
}

.friends-section {
  margin: 0;
  text-align: center;
}

.friends-heading {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
  color: #9370db;
  /* text-decoration: underline; */
  font-family: "Gaegu", cursive;
}

.friends-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.friend-item {
  margin: 8px;
}

.friend-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
  background-color: #e2f0f3; /* Choose your preferred background color */
  transition: background-color 0.2s ease-in-out;
  font-family: "Gowun Dodum", sans-serif;
}

.friend-link {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.friend-box:hover {
  background-color: #c1dee4; /* Choose your preferred hover background color */
}

.friend-link:hover {
  color: #007bff; /* Choose your preferred hover text color */
}
