a {
  text-decoration: none;
  color: blue;
}

li {
  list-style: none;
  color: greenyellow;
}

.section {
  padding: 4rem 0 2rem;
}

.logout {
  font-size: 1rem;
}
.navBarSection {
  height: 110px;
}
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--whiteColorDeam);
  width: 380px;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
  border-radius: 30px;
}
.logo {
  color: var(--secondaryColor);
  font-weight: 400;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.logo .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
  transform: translateY(5px);
}
.navBar {
  position: absolute;
  background: var(--whiteColorDeam);
  height: max-content;
  width: 80%;
  border-radius: 1rem;
  top: -50rem;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%);
  z-index: 2000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.navBar.activeNavBar {
  top: 7rem;
  opacity: 1;
}
.navLists {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 1rem 0;
}
.navItem {
  padding: 0.5rem;
}
.navItem .icon {
  font-size: 1rem;
}
.navLink {
  color: var(--textColor);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}
.navLink:hover {
  color: var(--PrimaryColor);
}

.btn {
  margin-top: 1rem;
}
.btn > a {
  font-weight: 600;
  color: white;
}

.closeNavBar {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: var(--PrimaryColor);
}
/* .closeNavBar .icon {
  font-size: 1rem;
} */
.closeNavBar:hover {
  color: var(--secondaryColor);
}

.toggleNavBar .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
}
.toggleNavBar .icon:hover {
  color: var(--secondaryColor);
}
