@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 380px;
  height: 585px;
  overflow: hidden;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  /* background-image: url("https://i.pinimg.com/originals/ac/f7/25/acf7258b8794be7d6909f89a2efadd54.jpg"); */
}
.overlay1 {
  z-index: -1;
}

.search-bar input {
  border: none;
  border-bottom: 2px solid blue; /* Change the color here */
  padding: 5px;
  width: 200px;
  font-size: 16px;
  z-index: 2; /* Ensure the input is at a higher stacking order */
}
.search-bar::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red; /* Change the color here */
  z-index: -1; /* Lower the stacking order of the line */
}
.img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usernames-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
}

.usernames-header {
  margin-bottom: 20px;
  font-size: 24px;
  color: #db7093;
  text-align: center;
  position: relative;
  font-family: "Gaegu", cursive;
  padding-bottom: 10px;
}

.usernames-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: #6c5ce7;
}

.usernames-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.username-item {
  margin: 10px;
}

.username-box {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a29bfe;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: "Gowun Dodum", sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.username-box:hover {
  background-color: #6c5ce7;
}
